body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: #888;
    display: flex;
    justify-content: center;
    align-items: center;
}

#overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

div {
    position: relative;
}

div.game {
    background: black;
    aspect-ratio: 16/9;
}

canvas {
    display: block;
}