/** -------------------------------------------------------------------
 ** Root
 ** definition of root variables to be used throughout css
 **-----------------------------------------------------------------**/

 :root {
    --main-background: #202832;
    --main-color: #FEA;
    --main-font: Tahoma, sans-serif;
    --panel-bg : #444;
 }