/** -------------------------------------------------------------------
 ** Elements
 ** Handles all element definitions prior to class/id definitions
 **-----------------------------------------------------------------**/
html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--main-background);
    font-family: var(--main-font);
    color: var(--main-color);
}

div, section {
    box-sizing: border-box;
}