<div class="editor_panel">
    <svg>
        <rect id="svg_body_rect"></rect>
        <g class="content">

        </g>
        <rect id="svg_listener_rect" width="100%" height="100%" fill="none"></rect>
    </svg>
    <canvas id="work_canvas"></canvas>
</div>