<div class="app">

    <div class="workspace">
        {{>editor_panel}}
    </div>

    <div class="panels">

        <section>
            <header>Sprite List</header>
            <ul id="sprites"></ul>
        </section>

    </div>

</div>